.container {
    height: 100px;
    width: 100px;
    margin-left: 100px;
    /* margin-bottom: 20px; */
    /* !замедляет скорость изменения */
    transition: 1s;
}

.flex {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

/* 1 способ transition*/
.item1 {
    background-color: red;
    /* !можно задавать только к какому-то свойству */
    transition: background-color 1s;
    /* 1 свойство, 2 время замедления, 3 способ замедления
(медленно в начале и в конце, время срабатывания) */
    transition: width 2s ease-in-out 1s;
    /* !можно не сколько  */
    transition: width 2s ease-in-out 1s, background-color 1s ease-in-out 1s;
}

.item1:hover {
    background-color: green;
    /* !при наведении курсора меняется, но весь текст сдвигается */
    height: 200px;
    width: 200px;
}

/* 2 способ */
.item2 {
    background-color: green;
}

.item2:hover {
    /* !сдвигается, гориз. вертик. */
    transform: translate(50px, 50px);
}

/* 3 способ */
.item3 {
    background-color: blue;
}

.item3:hover {
    /* !увеличивает, меняет, ВЕСЬ текст НЕ сдвигается */
    transform: scale(1.5);
}

/* 4 способ */
.item4 {
    background-color: orange;
}

.item4:hover {
    /* !проворачивается, на несколько градусов */
    transform: rotate(-15deg);
}

/* 5 способ картинка */
.item5 {
    height: 200px;
    width: 300px;
    margin-left: 100px;
    background-color: red;
    background-image: url(../img/image1.jpg);
    /* вписать картинку в размер */
    background-size: cover;
    /* насыщенность цветов 0% */
    filter: saturate(0);
    transition: 1s;
}

.item5:hover {
    /* !насыщенность цветов 100% */
    filter: saturate(1);
    /* !перенасыщенность цветов 200% */
    filter: saturate(2);
    /* !меняется, ВЕСЬ текст НЕ сдвигается */
    transform: scale(1.3);
}

/* 6 способ картинка */
.item6 {
    height: 200px;
    width: 300px;
    margin-left: 100px;
    background-color: red;
    background-image: url(../img/image1.jpg);
    /* вписать картинку в размер */
    background-size: cover;
    /* насыщенность цветов 0% */
    filter: saturate(0);
    transition: ease-in-out 1s;
}

.item6:hover {
    /* !насыщенность цветов 100% */
    filter: saturate(1);
    /* !перенасыщенность цветов 200% */
    filter: saturate(2);
    /* !меняется, ВЕСЬ текст НЕ сдвигается */
    transform: scale(1.3);
}

/* 7 способ. СРАБАТЫВАЕТ ПРИ НАВЕДЕНИИ ! ! !*/
.text1 {
    /* время анимации */
    animation-duration: 3s;
    /* задается любое имя  */
    /* animation-name: blablabla; */
    /* сдвигает текст */
    margin-left: 70%;
    /* ширина экрана */
    width: 300%;
    /* время замедления анимации */
    transition: 3s;
}

/* срабатывание ТОЛЬКО при наведении мышки */
.text1:hover {
    margin-left: 0%;
    width: 100%;
}

/* 8 способ, при загрузке страницы */
.text2 {
    /* время анимации */
    animation-duration: 3s;
    /* задается любое имя  */
    animation-name: blablabla;
    /* делает 3 повторения */
    animation-iteration-count: 3;
    /* добавляет обратную анимацию */
    animation-direction: alternate;
}

@keyframes blablabla {

    /* 0s */
    0% {
        margin-left: 90%;
        width: 300%;
    }

    /* в середине делает стоп на экране */
    /* 1.5s */
    30% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
    }

    70% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
    }

    /* 3s */
    100% {
        margin-left: 0%;
        width: 100%;
    }
}